name: Lint, Type-Check, Test, Build and Publish Package

"on":
    pull_request:
        branches: [main]
    push:
        branches: [main]
        tags: [v*]

jobs:
    upload-downdoc-binaries:
        uses: ./.github/workflows/upload-downdoc-binaries.yaml

    uv-check:
        env:
            SKIP_MISSING_DOWNDOC: "True"
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Check uv.lock (ensure all dependencies up to date)
              run: uv lock --check

    # yamllint disable-line rule:key-ordering
    flake8:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [uv-check]
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install Flake8 From Locked Dependencies
              run: uv sync --only-group lint-format

            - name: Run Flake8
              run: uv run -- flake8

    # yamllint disable-line rule:key-ordering
    mypy:
        env:
            SKIP_MISSING_DOWNDOC: "True"
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        needs: [uv-check]
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                component: [package, scripts]
                python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
                exclude:  # yamllint disable-line rule:key-ordering
                    - component: scripts
                include:  # yamllint disable-line rule:key-ordering
                    - component: scripts
                      python-version: ""

        steps:
            - uses: actions/checkout@v6

            - if: matrix.component == 'package'
              name: Set Up Python (Using Matrix Version)
              uses: actions/setup-python@v6
              with:
                python-version: ${{matrix.python-version}}

            - if: matrix.component == 'scripts'
              name: Set Up Python (Using .python-version File)
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - if: matrix.component == 'package'
              name: Install uv (With Matrix Python Version)
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true
                python-version: ${{matrix.python-version}}

            - if: matrix.component == 'scripts'
              name: Install uv (With .python-version File)
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install mypy From Locked Dependencies
              run: |
                if [ "${{matrix.component}}" == "package" ]; then
                    ARGS=("--no-group" "dev" "--group" "type-check")
                elif [ "${{matrix.component}}" == "scripts" ]; then
                    ARGS=("--only-group" "type-check" "--only-group" "build-dev")
                else
                    echo "Error: Unknown matrix.component value: '${{matrix.component}}'" >&2
                    exit 1
                fi

                uv sync "${ARGS[@]}"

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> "$GITHUB_OUTPUT"

            - uses: actions/cache@v5
              with:
                key: mypy|${{steps.store-hashed-python-version.outputs.hashed_python_version}}|${{matrix.component}}
                path: ./.mypy_cache

            - name: Run mypy  # TODO: Add GitHub workflows output format
              run: |
                if [ "${{matrix.component}}" == "package" ]; then
                    FILES=("pydowndoc/")
                elif [ "${{matrix.component}}" == "scripts" ]; then
                    FILES=("hatch_build.py" "Pydowndoc-bin/hatch_build.py")
                else
                    echo "Error: Unknown matrix.component value: '${{matrix.component}}'" >&2
                    exit 1
                fi

                for FILE in "${FILES[@]}"; do
                  uv run -- mypy "$FILE"
                done

    # yamllint disable-line rule:key-ordering
    pre-commit:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Add GB Locale
              run: |
                sudo apt-get update
                sudo apt-get install -y locales
                sudo locale-gen en_GB.UTF-8
              shell: bash

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install prek From Locked Dependencies
              run: uv sync --only-group pre-commit

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> "$GITHUB_OUTPUT"

            - uses: actions/cache@v5
              with:
                key: prek|${{steps.store-hashed-python-version.outputs.hashed_python_version}}|${{hashFiles('.pre-commit-config.yaml')}}
                path: ~/.cache/prek

            - name: Setup pre-commit Environments
              run: uv run -- prek install-hooks

            - name: Run prek
              run: |
                set -o pipefail
                uv run -- prek run --all-files --hook-stage manual --color never --skip ruff-check --skip uv-lock --skip flake8 | tee /tmp/prek.log

            - name: Ensure No Warnings
              run: "if grep -q '^warning: ' /tmp/prek.log; then exit 1; fi"

            - if: "!cancelled()"
              uses: pre-commit-ci/lite-action@v1.1.0

    # yamllint disable-line rule:key-ordering
    ruff-lint:
        env:
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Install ruff From Locked Dependencies
              run: uv sync --only-group lint-format

            - id: store-hashed-python-version
              name: Store Hashed Python Version
              run: echo "hashed_python_version=$(uv run -- python -VV | sha256sum | cut -d' ' -f1)"
                >> "$GITHUB_OUTPUT"

            - uses: actions/cache@v5
              with:
                key: ruff|${{steps.store-hashed-python-version.outputs.hashed_python_version}}
                path: ./.ruff_cache

            - name: Run Ruff
              run: uv run -- ruff check --no-fix --output-format=github

    # yamllint disable-line rule:key-ordering
    build-pydowndoc-bin:
        container: ${{fromJSON(matrix.container)}}
        env:
            SKIP_MISSING_DOWNDOC: "False"
            UV_FROZEN: true
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        name: Build ${{matrix.display_os}} ${{matrix.display_architecture}} Pydowndoc-bin package
        needs: [flake8, mypy, pre-commit, ruff-lint, upload-downdoc-binaries]
        runs-on: ${{matrix.runner}}

        strategy:
            matrix:
                include:
                    - architecture: x86-64
                      auditwheel_architecture: x86_64
                      container: "{\"image\": \"quay.io/pypa/manylinux_2_28_x86_64\"}"
                      display_architecture: x86_64
                      display_os: Linux
                      os: linux
                      runner: ubuntu-latest

                    - architecture: x86-64
                      container: "null"
                      display_architecture: x86_64
                      display_os: Windows
                      os: windows
                      runner: windows-latest

                    - architecture: x86-64
                      container: "null"
                      display_architecture: x86_64
                      display_os: macOS
                      os: macos
                      runner: macos-15-intel

                    - architecture: arm64
                      auditwheel_architecture: aarch64
                      container: "{\"image\": \"quay.io/pypa/manylinux_2_28_aarch64\"}"
                      display_architecture: arm64
                      display_os: Linux
                      os: linux
                      runner: ubuntu-24.04-arm

                    - architecture: arm64
                      container: "null"
                      display_architecture: arm64
                      display_os: macOS
                      os: macos
                      runner: macos-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - if: "!contains(matrix.container, 'pypa/manylinux')"
              name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - if: "!contains(matrix.container, 'pypa/manylinux')"
              name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Download ${{matrix.display_os}} ${{matrix.display_architecture}} downdoc Binary
              uses: actions/download-artifact@v8
              with:
                name: downdoc-${{matrix.os}}-${{matrix.architecture}}-binary
                path: Pydowndoc-bin/downloads/

            - name: Install Build Dependencies From Lock File
              run: uv sync --only-group build

            - name: Build ${{matrix.display_os}} ${{matrix.display_architecture}} Package
              run: uv run --directory Pydowndoc-bin -- hatch build -t custom

            - if: matrix.os == 'linux'
              name: Repair ${{matrix.display_os}} ${{matrix.display_architecture}} Package
              run: uv run --no-project -- auditwheel repair "$(find Pydowndoc-bin/dist/ -type f -iname
                "*${{matrix.os}}_${{matrix.auditwheel_architecture}}.whl")" -w Pydowndoc-bin/dist

            - if: matrix.os == 'linux'
              name: Remove Unrepaired ${{matrix.display_os}} ${{matrix.display_architecture}} Package
              run: rm Pydowndoc-bin/dist/*-${{matrix.os}}_${{matrix.auditwheel_architecture}}.whl

            - name: Save Build Artifacts
              uses: actions/upload-artifact@v7
              with:
                name: built-pydowndoc-bin-${{matrix.os}}-${{matrix.architecture}}-package
                path: Pydowndoc-bin/dist/

    # yamllint disable-line rule:key-ordering
    build-pydowndoc:
        env:
            SKIP_MISSING_DOWNDOC: "False"
            UV_NO_SYNC: true
            UV_PYTHON_DOWNLOADS: never
        name: Build Pydowndoc package
        needs: [flake8, mypy, pre-commit, ruff-lint, uv-check, upload-downdoc-binaries]
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Download Linux x86_64 downdoc Binary
              uses: actions/download-artifact@v8
              with:
                name: downdoc-linux-x86-64-binary
                path: ~/.local/bin/

            - name: Make Linux x86_64 downdoc Binary An Executable
              run: mv ~/.local/bin/downdoc-linux-x86-64 ~/.local/bin/downdoc && chmod +x ~/.local/bin/downdoc

            - name: Set Up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: .python-version

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Build Package
              run: uv build --build --no-sources

            - name: Save Build Artifacts
              uses: actions/upload-artifact@v7
              with:
                name: built-pydowndoc-package
                path: dist/

    # yamllint disable-line rule:key-ordering
    publish:
        environment: publish

        if: github.ref_type == 'tag'

        needs: [build-pydowndoc, build-pydowndoc-bin]
        permissions:
            id-token: write

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Download Pydowndoc Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-package

            - name: Download Pydowndoc-bin Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-bin-*-package

            - name: Publish to PyPI
              run: uv publish

    # yamllint disable-line rule:key-ordering
    test-publish:
        environment: test-publish

        if: github.ref_type != 'tag' && github.event_name != 'pull_request'

        needs: [build-pydowndoc, build-pydowndoc-bin]
        permissions:
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            - name: Download Pydowndoc Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-package

            - name: Download Pydowndoc-bin Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-bin-*-package

            - name: Publish to Test-PyPI
              run: uv publish --index Test-PyPI

    # yamllint disable-line rule:key-ordering
    release:
        if: github.ref_type == 'tag'

        needs: [publish]
        permissions:
            contents: write
            id-token: write
        runs-on: ubuntu-latest

        steps:

            - name: Download Pydowndoc Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-package

            - name: Download Pydowndoc-bin Build Artifacts
              uses: actions/download-artifact@v8
              with:
                merge-multiple: true
                path: dist/
                pattern: built-pydowndoc-bin-*-package

            - name: Sign Build Artifacts
              uses: sigstore/gh-action-sigstore-python@v3.2.0
              with:
                inputs: ./dist/pydowndoc-*.whl ./dist/pydowndoc-*.tar.gz

            - env:
                GITHUB_TOKEN: ${{github.token}}
              name: Create GitHub Release
              run: gh release create '${{github.ref_name}}' dist/** --repo '${{github.repository}}'
                --verify-tag --generate-notes
