name: Publish PyPI Redirects

"on":
    workflow_dispatch: ~

jobs:
    downdoc-redirect:
        environment: redirect-publish-downdoc
        permissions:
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Build Package
              run: uv build --sdist
              working-directory: ./.pypi-redirects/downdoc

            - name: Publish to PyPI
              run: uv publish
              working-directory: ./.pypi-redirects/downdoc

    pydowndoc-executable-redirect:
        environment: redirect-publish-pydowndoc-executable
        permissions:
            id-token: write
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Build Package
              run: uv build --sdist
              working-directory: ./.pypi-redirects/Pydowndoc-executable

            - name: Publish to PyPI
              run: uv publish
              working-directory: ./.pypi-redirects/Pydowndoc-executable
